/packages/

/sdk/bin/*
!/sdk/bin/.gitkeep

/sdk/build_dir/*
!/sdk/build_dir/.gitkeep

/sdk/dl/*
!/sdk/dl/.gitkeep

/sdk/feeds/*
!/sdk/feeds/.gitkeep

/sdk/logs/*
!/sdk/logs/.gitkeep

/sdk/overrides/*
!/sdk/overrides/.gitkeep

/sdk/package/feeds/*
!/sdk/package/feeds/.gitkeep

/sdk/staging_dir/*
!/sdk/staging_dir/.gitkeep

/sdk/tmp/*
!/sdk/tmp/.gitkeep
